<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Familia</title>
</head>
<body> 

    <h1>Mi Familia</h1>


       <p><strong>Parentezco:</strong>{{parentezco}}</p>
       <p><strong>Nombre:</strong>{{nombre}}</p>
       <p><strong>Edad:</strong>{{edad}}</p>
       <p><strong>Nacimiento:</strong>{{nacimiento}}</p>

    
    <h2>Mascotas</h2>

        <p><strong>Especie:</strong>{{especie}}</p>
        <p><strong>Nombre:</strong>{{nombre_mascota}}</p>

</body>
</html>